In [52]:
test_strings = [
    ["postgres", "postgras"],
    ["Apple Inc.", "apple Inc"],
    ["Twitter", "Twittr"],
    ["Tumblr", "Tumbler"],
    ["Instagram", "Insta"],
    ["Alabama State University", "Alabama University"],
    ["Alabama State University", "University of Alabama"],
    ["SAP SE", "SAP"]
]

In [53]:
# Python trigram implementation
def calc_trigram_for_string(s):
    if s.strip() == "": return []
    
    parts = []
    padded = "  " + s.lower() + " "
    
    for i in range(1, len(padded) - 1):
        parts.append(padded[i-1] + padded[i] + padded[i+1])
    return parts

for test_string in test_strings:
    print(calc_trigram_for_string(test_string[0]))

['  p', ' po', 'pos', 'ost', 'stg', 'tgr', 'gre', 'res', 'es ']
['  a', ' ap', 'app', 'ppl', 'ple', 'le ', 'e i', ' in', 'inc', 'nc.', 'c. ']
['  t', ' tw', 'twi', 'wit', 'itt', 'tte', 'ter', 'er ']
['  t', ' tu', 'tum', 'umb', 'mbl', 'blr', 'lr ']
['  i', ' in', 'ins', 'nst', 'sta', 'tag', 'agr', 'gra', 'ram', 'am ']
['  a', ' al', 'ala', 'lab', 'aba', 'bam', 'ama', 'ma ', 'a s', ' st', 'sta', 'tat', 'ate', 'te ', 'e u', ' un', 'uni', 'niv', 'ive', 'ver', 'ers', 'rsi', 'sit', 'ity', 'ty ']
['  a', ' al', 'ala', 'lab', 'aba', 'bam', 'ama', 'ma ', 'a s', ' st', 'sta', 'tat', 'ate', 'te ', 'e u', ' un', 'uni', 'niv', 'ive', 'ver', 'ers', 'rsi', 'sit', 'ity', 'ty ']
['  s', ' sa', 'sap', 'ap ', 'p s', ' se', 'se ']

In [54]:
def calc_trigram_similarity(string_list):
    s1 = string_list[0]
    s2 = string_list[1]
    tri1, tri2 = calc_trigram_for_string(s1), calc_trigram_for_string(s2)
    
    same_tris = 0
    unique_tris = 0
    for i, j in zip(tri1, tri2):
        if i == j:
            same_tris += 1
            unique_tris += 1
        else:
            unique_tris += 2
                
    return same_tris / unique_tris

for strings in test_strings:
    print(strings, ":", calc_trigram_similarity(strings))

['postgres', 'postgras'] : 0.5
['Apple Inc.', 'apple Inc'] : 0.8181818181818182
['Twitter', 'Twittr'] : 0.5555555555555556
['Tumblr', 'Tumbler'] : 0.5555555555555556
['Instagram', 'Insta'] : 0.7142857142857143
['Alabama State University', 'Alabama University'] : 0.26666666666666666
['Alabama State University', 'University of Alabama'] : 0.0
['SAP SE', 'SAP'] : 1.0